---
layout: default
title: 
keywords: tabalt,技术博客
description: 屌丝PHPer，略懂Web安全，Golang爱好者。
---

{% for post in paginator.posts %}
<div class="post-item pb10">
    <div class="post-title mb10">
        <h2 ><a href="{{ post.url }}/">{{ post.title }}</a></h2>
    </div>
    <div class="post-content thumbnail">
		{{ if post.description == "" }}
			{{ post.excerpt | strip_html | strip }}
		{% else %}
            {{ post.description | strip }}
        {% endif %}
		<span class="ft12 time">
            {{ post.date | date:"%Y-%m-%d" }} 
        </span>
    </div>
</div>
{% endfor %}

<!-- Pagination links -->

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="http://tabalt.net/">&laquo; Prev</a>
    {% else %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% endif %}
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="http://tabalt.net/">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
