<div class="header">
    
    <div class="container" id="nav">
        <h1 class="fl">
            <a href="/" title="屌丝PHPer，略懂Web安全，Golang爱好者。">
                <img id="avator" src="/static/images/avator.png" />tabalt
            </a>
        </h1>
        <div class="ft14 menu fr" > 
            <a href="/" class="{% if page.menu_selected == 'home' %}selected{% endif %}">首页</a>
            <a href="/tags/" class="{% if page.menu_selected == 'tags' %}selected{% endif %}">标签</a>
            <!--
            <a href="/opensource/" class="{% if page.menu_selected == 'opensource' %}selected{% endif %}">开源</a>
            <a href="/about/" class="{% if page.menu_selected == 'about' %}selected{% endif %}">关于</a>
            -->
            <a href="/bookshelf/" class="{% if page.menu_selected == 'bookshelf' %}selected{% endif %}">书架</a>
            <a href="https://github.com/tabalt" target="_blank">GitHub</a>
            <a href="http://weibo.com/245291359" target="_blank">Weibo</a>
            
        </div>
    </div>
</div>
