<div class="header">
    <div id="avator">
        <a href="/" title="屌丝PHPer，略懂Web安全，Golang爱好者。"><img src="/static/images/avator.png" title="屌丝PHPer，略懂Web安全，Golang爱好者。" /></a>
    </div>
    <div id="nav">
        <div class="ft14 menu" > 
            <a href="/">博客</a>
            <!--
            <a href="opensource.html">开源项目</a>
            <a href="resume.html">简历</a>
            <a href="bookshelf.html">书单</a>
            -->
            <a href="https://github.com/tabalt" target="_blank">Github</a>
        </div>
        <div class="ft12 desc" >
            屌丝PHPer ，略懂Web安全 ，Golang爱好者
        </div>
    </div>
</div>