<div id="main-right" class="fr">
    
    <div class="side-item">
        <div class="side-item-head">开源项目</div>
        <div class="side-item-body" id="opensource-project">
            <div class="project-item">
                <a href="https://github.com/tabalt/ReactNativeNews" >
                    <span class="project-title">
                        ReactNativeNews
                        <span class="project-stars">425 ★</span>
                    </span>
                    <span class="project-description">a news app code by react native</span>
                </a>
            </div>
            <div class="project-item">
                <a href="https://github.com/tabalt/gracehttp" >
                    <span class="project-title">
                        gracehttp
                        <span class="project-stars">105 ★</span>
                    </span>
                    <span class="project-description">Golang支持优雅重启的HTTP包</span>
                </a>
            </div>
            <div class="project-item">
                <a href="https://github.com/tabalt/access-log-analysis" >
                    <span class="project-title">
                        access-log-analysis
                        <span class="project-stars">42 ★</span>
                    </span>
                    <span class="project-description">访问日志分析脚本</span>
                </a>
            </div>
            <div class="project-item">
                <a href="https://github.com/tabalt/ipqueryd" >
                    <span class="project-title">
                        ipqueryd
                        <span class="project-stars">15 ★</span>
                    </span>
                    <span class="project-description">IP地址信息查询服务</span>
                </a>
            </div>
	    <div class="project-item">
                <a href="https://github.com/tabalt/server-enginer-questions" >
                    <span class="project-title">
                        server-enginer-questions
                        <span class="project-stars">14 ★</span>
                    </span>
                    <span class="project-description">服务端工程师题库</span>
                </a>
            </div>
        </div>
    </div>

    <div class="side-item">
        <div class="side-item-head">关注公众号</div>
        <div class="side-item-body">
            <img src="/static/images/wechat-qrcode.jpg" class="qrcode"/>
        </div>
    </div>

    <div class="side-item">
        <div class="side-item-head">加入QQ群</div>
        <div class="side-item-body">
            <img src="/static/images/qqgroup-qrcode.jpg" class="qrcode"/>
        </div>
    </div>
	
	
</div>
