@charset "utf-8";
/***
  *+ @file style.css
  *+ @description blog css
  *+ @author tabalt@actphp.com
  *+ @time 2014/03/12 00:24
  *+ @version 0.1
 **/

/* ==================== Basic styles ==================== */

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, 
dl, dt, dd, ul, ol, li, 
pre, 
form, fieldset, legend, button, input, textarea, 
th, td {
    margin: 0;
    padding: 0;
}

body,
button, input, select, textarea /* for ie */ {
    font: 14px/1.4 "Helvetica Neue","Microsoft Yahei","Microsoft Sans Serif","WenQuanYi Micro Hei",Helvetica,"Segoe UI",Arial,freesans,sans-serif;
}
address, cite, dfn, em, var { font-style: normal; } 
code, kbd, pre, samp { font-family: courier new, courier, monospace; } 
small { font-size: 12px; }

ul.no-style { list-style:none; }
ul li.inline{ display:inline;}
.container { margin: 0 auto; width: auto; max-width: 1020px; padding-left: 20px; padding-right: 20px;  }
.block-inline{ /*float:left;*/ display:inline-block; vertical-align: top;} 
.fl{ float:left;}
.fr{ float:right;}
.clear-both{ clear:both; }
.center { text-align:center;}
.border-box { border:1px solid #ccc; border-radius:2px;}

.pd10{ padding:10px;}
.pt10{ padding-top:10px; }
.pr10{ padding-right:10px;}
.pb10{ padding-bottom:10px; }
.pl10{ padding-left:10px;}

.pd20{ padding:20px;}
.pt20{ padding-top:20px; }
.pr20{ padding-right:20px;}
.pb20{ padding-bottom:20px; }
.pl20{ padding-left:20px;}

.mg10{ margin:10px;}
.mt10{ margin-top:10px;}
.mr10{ margin-right:10px;}
.mb10{ margin-bottom:10px;}
.ml10{ margin-left:10px;}

.mg20{ margin:20px;}
.mt20{ margin-top:20px;}
.mr20{ margin-right:20px;}
.mb20{ margin-bottom:20px;}
.ml20{ margin-left:20px;}


.w980{ width:980px;}
.w960{ width:960px;}
.w680{ width:680px;}
.w450{ width:450px;}
.w270{ width:270px;}


.ft12{ font-size:12px;}
.ft14{ font-size:14px;}
.ft16{ font-size:16px;}
.ft18{ font-size:18px;}
.ft20{ font-size:20px;}


/* blog */

a {
    color: #333;
    text-decoration: none;
}
a:hover { 
    text-decoration: underline; 
}

.header { 
    color: #333; 
    height: 30px; 
    padding: 20px; 
    border-bottom: 1px solid #eee;
}

#nav {
}

#nav a:hover{
    text-decoration: none;
}

#nav #avator {
    position: relative;
    top: 2px;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.menu { 

}
.menu a { 
    display: inline-block; 
    padding: 6px 10px 15px; 
    margin-left: 1.25rem; 
    font-size: 1rem;
}
.menu a.selected, .menu a:hover { 
    color: #60a1d3; 
    padding: 6px 10px 13px;
    border-bottom: 2px solid #dde5ed;
}


.desc { padding-top: 5px; }

.page { 
    padding-top: 30px;
}
.page a{
    color: #4183c4;
    text-decoration: underline;
}


.page ul{ padding-left:40px; margin-bottom: 10px;}
.page p{ line-height:28px; margin-bottom:20px; }
.page h3{ border-left:3px solid #dddddd; padding-left:15px; line-height:22px; margin:20px 0; font-size:16px; }
.page h4 { margin:10px 0; }
.page li p{ margin-bottom:5px; }
.page img { max-width: 600px;}
.page pre { background-color: #f8f8f8; border: 1px solid #ddd; font-size: 13px; line-height: 19px; overflow: auto; padding: 6px 10px; border-radius: 3px; }
.page code { margin: 0; padding: 0;  border: none; word-wrap: normal; max-width: initial; display: inline; overflow: initial; line-height: inherit; background-color: #fee9cc; color: rgba(0, 0, 0, 0.75); padding: 1px 3px;  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.page pre code { background-color: #f8f8f8; color:#737373; font-size: 11px; padding: 0; }

.block {  }
.block h2{ border-radius:2px; line-height:30px; font-size:14px; background:#CCCCFF;  text-indent:10px; margin-bottom:10px;}
.block ul li {}

.post-item { }
.post-title {  }
.post-title h2{ 
    line-height: 40px;
    font-weight: normal;
}
.post-title h2 a { 
    color: #4183c4; 
    font-size:18px;
}
.post-content {
}


.post-item { 
}

.post-item .time { 
    color:#ccc;
}

.thumbnail { 
    color: #666;
    max-height: 340px; 
    overflow: hidden; 
    padding-bottom: 30px; 
    border-bottom: 1px solid #eee;
    margin-bottom: 20px; 
    
}
.highlight { 
    margin-bottom: 20px;
}

.pagination {

}

.pagination a, #links a{
    color: #4183c4;
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}

table th, table td {
    padding: 6px 13px;
    border: 1px solid #ddd;
}

table th {
    font-weight: bold;
}

#waterfall {
    
}
#waterfall .tag-list {
    /* 栏宽度 */
    -webkit-column-width:330px;
    -moz-column-width:330px;
    -o-colum-width:330px;
    column-width:330px;
    /* 两栏之间的间距 */
    /*
    -webkit-column-gap:1px;
    -moz-column-gap:1px;
    -o-column-gap:1px;
    column-gap:1px;
    */
}
#waterfall .tag-item{
    border:1px solid #eee;
    display:inline-block;
    width:328px;
    margin-bottom:20px;
}

#waterfall .tag-item h4 {
    text-align: center;
    border-bottom: 1px solid #eee;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    margin: 0;
    font-weight: normal;
}

#waterfall ul {
    list-style:none; 
    padding-left: 0px;
    font-size: 14px;
    padding:5px;
}

#waterfall ul li{
    line-height: 25px;
    color: #666;
}

#bookshelf {
}

#bookshelf h2{
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    margin: 10px auto;
    text-align: center;
    
}

#bookshelf .book-item {
    display: inline-block;
    width: 125px;
    height: 165px;
    margin: 0 auto;
    padding: 16px;
    outline: 0;
    padding-left: 25px;
}

#bookshelf .book-item img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #eee
}

#bookshelf .book-item h4 {
    width: 125px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    margin:0;
}

@media screen and (max-width: 980px) {
    .menu {
        display: none;
    }

    #waterfall .tag-item {
        width: 98%;
    }
    
}

@media screen and (max-width: 414px) {

    #bookshelf .book-item {
        padding-left: 32px;
        
    }
}

@media screen and (max-width: 384px) {

    #bookshelf .book-item {
        padding-left: 25px;
        
    }
}

@media screen and (max-width: 375px) {

    #bookshelf .book-item {
        padding-left: 22px;
        
    }
}

@media screen and (max-width: 360px) {

    #bookshelf .book-item {
        padding-left: 16px;
        
    }
}


@media screen and (max-width: 320px) {

    #bookshelf .book-item {
        padding-left: 2px;
        width: 120px;
    }

}