@charset "utf-8";
/***
  *+ @file style.css
  *+ @description blog css
  *+ @author tabalt@actphp.com
  *+ @time 2014/03/12 00:24
  *+ @version 0.1
 **/

/* ==================== Basic styles ==================== */

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, 
dl, dt, dd, ul, ol, li, 
pre, 
form, fieldset, legend, button, input, textarea, 
th, td {
    margin: 0;
    padding: 0;
}

body,
button, input, select, textarea /* for ie */ {
    font: 14px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
}
/*h1, h2, h3, h4, h5, h6 { font-size: 100%; } */
address, cite, dfn, em, var { font-style: normal; } 
code, kbd, pre, samp { font-family: courier new, courier, monospace; } 
small { font-size: 12px; }

ul.no-style { list-style:none; }
ul li.inline{ display:inline;}
.container { margin:0 auto;   }
.block-inline{ /*float:left;*/ display:inline-block; vertical-align: top;} 
.fl{ float:left;}
.fr{ float:right;}
.clear-both{ clear:both; }
.center { text-align:center;}
.border-box { border:1px solid #ccc; border-radius:2px;}

.pd10{ padding:10px;}
.pt10{ padding-top:10px; }
.pr10{ padding-right:10px;}
.pb10{ padding-bottom:10px; }
.pl10{ padding-left:10px;}

.pd20{ padding:20px;}
.pt20{ padding-top:20px; }
.pr20{ padding-right:20px;}
.pb20{ padding-bottom:20px; }
.pl20{ padding-left:20px;}

.mg10{ margin:10px;}
.mt10{ margin-top:10px;}
.mr10{ margin-right:10px;}
.mb10{ margin-bottom:10px;}
.ml10{ margin-left:10px;}

.mg20{ margin:20px;}
.mt20{ margin-top:20px;}
.mr20{ margin-right:20px;}
.mb20{ margin-bottom:20px;}
.ml20{ margin-left:20px;}


.w980{ width:980px;}
.w960{ width:960px;}
.w680{ width:680px;}
.w450{ width:450px;}
.w270{ width:270px;}


.ft12{ font-size:12px;}
.ft14{ font-size:14px;}
.ft16{ font-size:16px;}
.ft18{ font-size:18px;}
.ft20{ font-size:20px;}


/* blog */

.wrapper { width: 900px; margin: 20px auto; box-shadow: 0 1px 6px rgba(124, 124, 124, 0.42); }
.header { background: #669ACC; color: #fff; height: 70px; padding: 0 20px; }

#avator { float: left; padding: 10px 0; }
#nav { float: left; padding: 10px 20px; }
.menu { }
.menu a { margin-right:10px; color: #fff; }

.desc { padding-top: 5px; }

.page {  }
.page ul{ padding-left:40px; margin-bottom: 10px;}
.page  p{ line-height:25px; margin-bottom:20px; }
.page  h3{ border-left:3px solid #dddddd; padding-left:15px; line-height:22px; margin:20px 0; font-size:16px; }
.page h4 { margin:10px 0; }
.page li p{ margin-bottom:5px; }
.page img { max-width: 600px;}
.page pre { background-color: #f8f8f8; border: 1px solid #ddd; font-size: 13px; line-height: 19px; overflow: auto; padding: 6px 10px; border-radius: 3px; }
.page code { margin: 0; padding: 0;  border: none; word-wrap: normal; max-width: initial; display: inline; overflow: initial; line-height: inherit; background-color: #fee9cc; color: rgba(0, 0, 0, 0.75); padding: 1px 3px;  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.page pre code { background-color: #f8f8f8; color:#737373; font-size: 11px; padding: 0; }

.block {  }
.block  h2{ border-radius:2px; line-height:30px; font-size:14px; background:#CCCCFF;  text-indent:10px; margin-bottom:10px;}
.block ul li {}

.post-item { }
.post-title {  }
.post-title h2{ line-height: 40px; }
.post-title h2 a { color: #669ACC; }
.post-content { }
.post-separate { border-bottom:1px dashed #ccc; padding: 10px 0;}

.thumbnail { max-height: 340px; overflow: hidden; }
.highlight { margin-bottom: 5px;}

.tag-list { padding: 10px; border: 1px dashed #ccc;}
.tag-list a { padding: 2px; }

