<!DOCTYPE html>
<html>
<head>
    <title>{% if paginator.page == 1 %}服务器端开发{% elsif paginator.page > 1 %}博文列表 - 第{{ paginator.page }}页{% endif %}{{ page.title }} - tabalt的博客</title>
    <meta name="keywords" content="{{ page.keywords }}" />
    <meta name="description" content="{{ page.description }}" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
    <meta name="baidu-site-verification" content="VPI6Tl4mz8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta property="qc:admins" content="750666114214466547" />
    <meta name="google-site-verification" content="ZEvRJg2-fBJ56WcdrMWXManRlnO60bLzn8NDkZZRjPE" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css?201705132045" />
    <script type="text/javascript" src="/static/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="/static/js/blog.js"></script>
    <link rel="shortcut icon" href="/static/images/avator.png">
</head>
<body>
    {% include header.html %}
    <div class="container pd20" id="main">
        <div id="main-left" class="fl">
            {{ content }}
        </div>
        {% include sidebar.html %}
    </div>

    {% if paginator.page == 1 %}
    {% include link.html %}
    <div style="margin: 10px auto;text-align: center;">
    Copyright © <a href="http://tabalt.net">服务端开发</a> 版权所有 &nbsp;&nbsp;&nbsp;&nbsp;
    备案号：<a target="_blank" href="http://www.beian.miit.gov.cn/" rel="”nofollow”">湘ICP备15019609号</a>
    </div>
    {% endif %}
    <!-- toTop/ tag sidebar-->
    <div style="display:none;">
        <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F4d1881f3b83db95f21aa230bf08923df' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-16474211-2', 'auto');
            ga('send', 'pageview');
        </script>
    </div>
</body>
</html>
