<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }} - tabalt的博客 / tabalt's blog</title>
    <meta name="keywords" content="{{ page.keywords }}" />
    <meta name="description" content="{{ page.description }}" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <script type="text/javascript" src="/static/js/blog.js"></script>
</head>
<body>
    <div class="wrapper">
        {% include header.html %}
        <div class="page pd20" id="main">
            {{ content }}
        </div>
    </div>
    <!-- toTop/ tag sidebar-->
    <div style="display:none;">
        <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F4d1881f3b83db95f21aa230bf08923df' type='text/javascript'%3E%3C/script%3E"));
        </script>
    </div>
</body>
</html>