<!DOCTYPE html>
<html>
<head>
    <title>{% if paginator.page == 1 %}首页{% elsif paginator.page > 1 %}第{{ paginator.page }}页{% endif %}{{ page.title }} - tabalt的博客 / tabalt's blog</title>
    <meta name="keywords" content="{{ page.keywords }}" />
    <meta name="description" content="{{ page.description }}" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
    <meta name="baidu-site-verification" content="VPI6Tl4mz8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta property="qc:admins" content="750666114214466547" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <script type="text/javascript" src="http://libs.useso.com/js/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/blog.js"></script>
    <link rel="shortcut icon" href="/static/images/avator.png">
</head>
<body>
    {% include header.html %}
    <div class="container pd20" id="main">
        <div id="main-left" class="fl">
            {{ content }}
        </div>
        {% include sidebar.html %}
    </div>

    {% if paginator.page == 1 %}
    {% include link.html %}
    {% endif %}
    <!-- toTop/ tag sidebar-->
    <div style="display:none;">
        <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F4d1881f3b83db95f21aa230bf08923df' type='text/javascript'%3E%3C/script%3E"));
        </script>
    </div>
</body>
</html>
